<ion-view title="About the App" id="page21">
  <ion-content padding="true" class="has-header">
    <h3 id="aboutTheApp-heading2" style="color:#000000;">Inspiration</h3>
    <div id="aboutTheApp-markdown31" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Several. My mom, and how she strives to achieve the best customer experience. Also, the unnecessary "May I have the bill?" wait times at restaurants that I have been to.</p>
    </div>
    <h3 id="aboutTheApp-heading3" style="color:#000000;">What does the app do</h3>
    <div id="aboutTheApp-markdown32" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Let's customers pay for their restaurant bill using their phone, which improves customer experience and increases the money obtained from tips</p>
    </div>
    <h3 id="aboutTheApp-heading4" style="color:#000000;">How I built the app</h3>
    <div id="aboutTheApp-markdown33" class="show-list-numbers-and-dots">
      <p style="color:#000000;">I prototyped the app using current web languages and Ionic.</p>
    </div>
    <h3 id="aboutTheApp-heading10" style="color:#000000;">Built with</h3>
    <div id="aboutTheApp-markdown36" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ionic, Angular2, HTML, CSS, JavaScript</p>
    </div>
    <h3 id="aboutTheApp-heading6" style="color:#000000;">Challenges I ran into</h3>
    <div id="aboutTheApp-markdown35" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Determining what functionality would be needed to demonstrate a working concept. Cutting out the features, so I can complete the prototype in a 12hr time limit.</p>
    </div>
    <h3 id="aboutTheApp-heading7" style="color:#000000;">Accomplishments that I am proud of</h3>
    <div id="aboutTheApp-markdown37" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Doing research on the market impact of my app. Completing the app on time.</p>
    </div>
    <h3 id="aboutTheApp-heading9" style="color:#000000;">Whats next for Restara?</h3>
    <div id="aboutTheApp-markdown38" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Rewritring the the app to be fully functional. Doing user experience tests at local restaurants.</p>
    </div>
    <h3 id="aboutTheApp-heading11" style="color:#000000;">LinkedIn</h3>
    <a href="#" onclick="window.open('https://www.linkedin.com/in/andrew-nguyen-87a82987', '_system', 'location=yes'); return false;" id="aboutTheApp-button34" class="button button-positive  button-block">Andrew Nguyen's LinkedIn</a>
    <div id="aboutTheApp-markdown29" class="show-list-numbers-and-dots"></div>
    <a ui-sref="restara" id="aboutTheApp-button33" class="button button-dark  button-block">Go back to Title Screen</a>
  </ion-content>
</ion-view>