<ion-view title="Confirm Custom Amount" id="page17">
  <ion-content padding="true" class="has-header">
    <div id="confirmCustomAmount-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Are you sure you want to pay $XX.XX?</p>

      <p style="color:#000000;">You are tipping XX% below the average!</p>
    </div>
    <a ui-sref="payByCard" id="confirmCustomAmount-button24" class="button button-assertive  button-block">Yes, Pay By Card</a>
    <a ui-sref="orderEnd" id="confirmCustomAmount-button35" class="button button-assertive  button-block">Yes, Pay By Cash</a>
  </ion-content>
</ion-view>