<ion-view title="Demo End" id="page20">
  <ion-content padding="true" class="has-header">
    <div id="demoEnd-markdown28" class="show-list-numbers-and-dots">
      <p style="color:#000000;">You have reached the end of the demo!</p>
    </div>
    <a ui-sref="aboutTheApp" id="demoEnd-button30" class="button button-energized  button-block">About the App</a>
    <a ui-sref="restara" id="demoEnd-button31" class="button button-assertive  button-block">Back to Home</a>
    <a href="#" onclick="window.open('https://www.linkedin.com/in/andrew-nguyen-87a82987', '_system', 'location=yes'); return false;" id="demoEnd-button32" class="button button-positive  button-block">LinkedIn</a>
  </ion-content>
</ion-view>