<ion-view title="Order End" id="page19">
  <ion-content padding="true" class="has-header">
    <div id="orderEnd-markdown26" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Your receipt will be mailed to your saved email address</p>
    </div>
    <div id="orderEnd-markdown27" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Please rate your experience at Pho One24</p>
    </div>
    <form id="orderEnd-form6" class="list">
      <ion-item class="range range-positive" id="orderEnd-range1">Rating
        <input type="range" value="4" min="0" max="5" step="1">
      </ion-item>
      <label class="item item-input" id="orderEnd-input7">
        <input type="text" placeholder="Insert Comments">
      </label>
    </form>
    <a ui-sref="demoEnd" id="orderEnd-button28" class="button button-positive  button-block">Submit Feedback</a>
    <a ui-sref="demoEnd" id="orderEnd-button29" class="button button-assertive  button-block">Skip Feedback</a>
  </ion-content>
</ion-view>