<ion-view title="Orders" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="orders-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Please select your bill</p>
    </div>
    <ion-list id="orders-list2">
      <ion-item id="orders-list-item9" ui-sref="yourBill">Andrew Nguyen</ion-item>
      <ion-item id="orders-list-item10">John Cena (NON FUNCTIONAL)</ion-item>
      <ion-item id="orders-list-item11">Mr. Skeletal (NON FUNCTIONAL)</ion-item>
    </ion-list>
  </ion-content>
</ion-view>