<ion-view title="Pay by Card" id="page18">
  <ion-content padding="true" class="has-header">
    <div id="payByCard-markdown25" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Do you want to use your saved card?</p>
    </div>
    <a ui-sref="orderEnd" id="payByCard-button26" class="button button-positive  button-block">Yes</a>
    <a ui-sref="orderEnd" id="payByCard-button27" class="button button-assertive  button-block">No, let me use a new card</a>
  </ion-content>
</ion-view>