<ion-view title="Restara " id="page1">
  <ion-content padding="true" class="has-header">
    <div id="restara-markdown30" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Welcome to the Restara App, one of the easiest ways of paying your restaurant bill!</p>
    </div>
    <a ui-sref="qRCode" id="restara-button1" class="button button-positive  button-block">QR Code</a>
    <a ui-sref="restaraCode" id="restara-button2" class="button button-positive  button-block">Restara Code</a>
    <a ui-sref="aboutTheApp" id="restara-button10" class="button button-energized  button-block">About the App</a>
    <div id="restara-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This is a prototype for the Restara App for Hack Day 2016, at UW-Madison.</p>

      <p style="color:#000000;">Made by Andrew Nguyen</p>
    </div>
  </ion-content>
</ion-view>