<ion-view title="Restaurant Confirmation" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/bnqzeYayTGakBeHZRnO9_119078784_phoOne24.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="restaurantConfirmation-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Is this your restaurant?:</p>
    </div>
    <div id="restaurantConfirmation-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">PHO One24</p>
    </div>
    <div id="restaurantConfirmation-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">3705 N 124th St #400, Brookfield, WI 53005</p>
    </div>
    <a ui-sref="table" id="restaurantConfirmation-button6" class="button button-positive  button-block">Yes, this is the restaurant!</a>
    <a ui-sref="restara" id="restaurantConfirmation-button7" class="button button-assertive  button-block">No, this is not the restaurant.</a>
  </ion-content>
</ion-view>