<ion-view title="Total + 25% Tip" id="page15">
  <ion-content padding="true" class="has-header">
    <div id="total25Tip-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Your bill comes out to:</p>
    </div>
    <div id="total25Tip-markdown19" class="show-list-numbers-and-dots">
      <p style="color:#000000;">$20.00</p>
    </div>
    <div id="total25Tip-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Would you like to pay with card or by cash?</p>
    </div>
    <a ui-sref="payByCard" id="total25Tip-button18" class="button button-positive  button-block">Pay by Card</a>
    <a ui-sref="orderEnd" id="total25Tip-button19" class="button button-assertive  button-block">Pay by Cash</a>
  </ion-content>
</ion-view>