<ion-view title="Total + 30% Tip" id="page11">
  <ion-content padding="true" class="has-header">
    <div id="total30Tip-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Your bill comes out to:</p>
    </div>
    <div id="total30Tip-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">$20.80</p>
    </div>
    <div id="total30Tip-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Would you like to pay with card or by cash?</p>
    </div>
    <a ui-sref="payByCard" id="total30Tip-button16" class="button button-positive  button-block">Pay by Card</a>
    <a ui-sref="orderEnd" id="total30Tip-button17" class="button button-assertive  button-block">Pay by Cash</a>
  </ion-content>
</ion-view>