<ion-view title="Your Bill" id="page10">
  <ion-content padding="true" class="has-header">
    <div id="yourBill-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The bill for: Andrew Nguyen</p>
    </div>
    <ion-list id="yourBill-list3">
      <ion-item id="yourBill-list-item15">$10.50 - Cheese Burger</ion-item>
      <ion-item id="yourBill-list-item16">$1.00 - Soda</ion-item>
      <ion-item id="yourBill-list-item17">$1.50 - Large Fries</ion-item>
      <ion-item id="yourBill-list-item18">$3.00 - Ice Cream</ion-item>
    </ion-list>
    <div id="yourBill-markdown9" class="show-list-numbers-and-dots"></div>
    <a ui-sref="total30Tip" id="yourBill-button12" class="button button-positive  button-block">Total + 30% Tip</a>
    <a ui-sref="total25Tip" id="yourBill-button13" class="button button-balanced  button-block">Total + 25% Tip</a>
    <a ui-sref="customAmount" id="yourBill-button15" class="button button-assertive  button-block">Custom Amount</a>
    <a ui-sref="total20Tip" id="yourBill-button14" class="button button-positive  button-block">Total + 20% Tip</a>
  </ion-content>
</ion-view>